<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="net.socian.phonegap.wsautobahn.AutobahnWebSocket"
      version="0.2.3">

    <name>Autobahn Web Socket</name>
    <description>Autobahn Phonegap Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,network,information</keywords>
    
    <js-module src="www/autobahnws.js" name="autobahnws">
        <clobbers target="AutobahnWebSocket" />
    </js-module>

                           
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AutobahnWebSocket">
                <param name="android-package" value="net.socian.phonegap.wsautobahn.AutobahnWebSocket"/>
            </feature>   
        </config-file>
        
        <source-file src="src/android/AutobahnWebSocket.java" target-dir="src/net/socian/phonegap/wsautobahn" />
        <source-file src="src/android/autobahn.jar" target-dir="libs"/>
        <source-file src="src/android/jackson-core-asl-1.9.7.jar" target-dir="libs"/>
        <source-file src="src/android/jackson-mapper-asl-1.9.7.jar" target-dir="libs"/>
    </platform>
</plugin>
